extends layout

block content
 - let create = `dispatch(\"mug/create\")`
  button.btn(class="btn-primary m1-1", onclick=create) Create
  h1= title
  - 
    let sets =  results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
    function dispatch(path){ 
    window.location.href=path 
   } 
  div(class='container-fluid')
    div(class='row m-1')
      each item, index in sets
        - let destination = `dispatch(\"/mug/update?id=${item._id}\")`
        - let detail=`dispatch(\"/mug/detail?id=${item._id}\")`
        - let de=`dispatch(\"/mug/delete?id=${item._id}\")` 
        div(class='col-sm-2' onclick='buy('+index+')') #{item.mug_type}
        button.btn( class="btn-primary ml-1", onclick= destination) Update
        button.btn( class="btn-secondary ml-2", onclick=detail ) Get Detail page
        button.btn( class="btn-warning ml-2", onclick=de ) Delete 